
{% extends "base.html" %}
{% block start %}


  <!-- about section -->
  <section class="about_section layout_padding2-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="heading_style">
            About Us
          </h2>
          <p>
            At Highspeedpackers, situated in Bengaluru,Karnataka, provides a wide range of packing, moving services 
            for relocation experience.
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-box">

            <img src="/static/images/box1.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 about_detail-container">
          <div class="about_detail-box">
            <h3>
              Company and Transport
            </h3>
            <p>
              We are committed to offering top-quality packing and moving services with precise quotes for your relocation needs. 
              Our dedicated team ensures reliable and high-quality moving services, whether you're relocating within Bangalore or 
              to another city in India, making us one of the most trusted and recommended names for packing and moving services at 
              a reasonable price.
            </p>
            <div class="d-flex  justify-content-end">
              <a href="" class="quote-btn about-btn">
                <img src="images/white-next.png" alt="">
                <span>
                  About More
                </span>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end about section -->


{% endblock %}