<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  

  <title>Highspeedpackers</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <section class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container d-lg-none">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          
        </nav>
        <div class="header_container ">
          <a class="navbar-brand" href="/">
            <div class="logo-box">
              <img src="/static/images/logo.png" alt="">
              <span>
                Highspeedpackers
              </span>
            </div>
          </a>
          <div>
            <div class="header_top">
              <div class="header_top-contact">

                <a href="tel:+918440989001" class="ml-4">
                  <div>
                    <img src="/static/images/phone.png" alt="Phone Icon" />
                  </div>
                  <span>
                    (+91) 8440989001
                  </span>
                </a>
                <a href="mailto:info@highspeedpackers.com" class="ml-4">
                  <div>
                    <img src="/static/images/mail.png" alt="Mail Icon" />
                  </div>
                  <span>
                    info@highspeedpackers.com
                  </span>
                </a>
              </div>
              <div class="header_top-social">
                <div>
                  <a href="">
                    <img src="/static/images/fb.png" alt="">
                  </a>
                </div>
                
                <div>
                  <a href="mailto:info@highspeedpackers.com" target="_blank">
                    <img src="/static/images/g-plus.png" alt="Gmail Icon">
                  </a>
                </div>
                <div>
                  <a href="">
                    <img src="/static/images/linkedin.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          
            <div class="header_btm">
              <nav class="navbar navbar-expand-lg custom_nav-container pt-3">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                      <li class="nav-item active">
                        <a class="nav-link" href="/index/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about/"> About </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/service/"> Service</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/gallery/"> Our Gallery </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/company/"> Company </a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link pr-0" href="/contact/">Contact us</a>
                      </li>
                    </ul>

                  </div>

                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end header section -->
    
    <div style="position:fixed;left:-5px;top:253px;z-index:99999;">
            <a href="tel:08440989001" target="_blank">
                <div style="background-color:none; -moz-box-shadow: 4px 4px 5px #000000; -webkit-box-shadow: 4px 4px 5px 
                #000000;box-shadow: 4px 4px 5px #000000; border-radius: 5px;">
            <img src="/static/images/Phone_icon.png" style="width: 46px;">	            </div>
            </a>
    </div>
    <div style="position:fixed;left:-5px;top:300px;z-index:99999;">
        <a href="https://api.whatsapp.com/send?phone=9108440989001&amp;text=%20I%20am%20looking%20for%20Shifting%20with%20Warrior%20Packers" 
        target="_blank">
            <div style="background-color: green; -moz-box-shadow: 4px 4px 5px 
            #000000; -webkit-box-shadow: 4px 4px 5px #000000;box-shadow: 4px 4px 5px #000000; border-radius: 5px;">
            <img src="/static/images/whatsapp.png" style="width: 46px;">            </div>
        </a>
    </div>



{% block start %}
 
{% endblock %}





    <!-- info section -->
  <section class="info_section ">
    <div class="container ">
      <div class="row  mb-3 pb-4">
        <div class="col-md-3 info_logo">
          <div class="logo-box">
            <img src="/static/images/logo-white.png" alt="">
            <span>
                Highspeedpackers
            </span>
          </div>
          <p>
            At Highspeedpackers, situated in Bengaluru,Karnataka, provides a wide range of packing, moving services for relocation experience.
          </p>
          <div class="info_social">
            <div>
              <a href="">
                <img src="/static/images/fb.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="/static/images/twitter.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="/static/images/g-plus.png" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="/static/images/linkedin.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 info_address">
          <h5>
            Address
          </h5>
          <p>
            Ward No 185,1189,5th Main Rd Sector,
            7,HSR Layout,Bengaluru,Karnataka 560102
          </p>
          <p>
            (+91) 8440989001
          </p>
        
          <p>
            <a href="">
                info@highspeedpackers.com
            </a>
          </p>
        </div>
        <div class="col-md-3 info_links">

          <div class="info_nav ">
            <nav class="">
              <ul>
                <h5>
                  Links
                </h5>
                <li>
                  <a href="/index/"> Home</a>
                </li>
                <li>
                  <a href="/about/">About</a>
                </li>
                <li>
                  <a href="/service/"> Service</a>
                </li>
                <li>
                  <a href="/gallery/"> Our Gallery</a>
                </li>
                <li>
                  <a href="/company/"> Company</a>
                </li>
                <li>
                  <a href="/contact/">Contact us</a>
                </li>

              </ul>
            </nav>
          </div>
          
        </div>
        <div class="info_nav ">
            <nav class="">
              <ul>
                <h5>
                  Contact
                </h5>
                <li>
                    <a href="tel:08440989001" target="_blank"  class="ml-4">
                     <div>
                        <img src="/static/images/phone.png">	
                     </div>
                    <span>+918440989001</span>
                  
                </li>
                <li>
                    <a href="mailto:info@highspeedpackers.com" class="ml-4">
                        <div>
                            <img src="/static/images/mail.png" alt="Mail Icon" />
                        </div>
                        <span>
                          info@highspeedpackers.com
                        </span>
                      </a>
                </li>
    
              </ul>
            </nav>
          </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2024 All Rights Reserved By
      <a href="https://highspeedpackers.com/">Highspeedpackers</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>


  <script>
    // This example adds a marker to indicate the position of Bondi B
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {
          lat: 12.9091123,
          lng: 77.6299748
        },
      });

      var image = '/static/images/maps-and-flags.png';
      var beachMarker = new google.maps.Marker({
        position: {
          lat:  17.412281,
          lng: 78.2432324
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->
</body>

</html>
    