{% extends 'base.html' %}

{% block start %}

<!-- about section -->
  <section class="about_section layout_padding2-bottom">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="heading_style">
            Shifting in  {{city}}
          </h2>
          <p>
            At Highspeedpackers, situated in Bengaluru,Karnataka, provides a wide range of packing, moving services 
            for relocation experience.
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-box">

            <img src="/static/images/box3.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 about_detail-container">
          <div class="about_detail-box">
            <h3>
             || {{city}} ||
            </h3>
            <p>
                Highspeedpackers {{city}} Logistics is based in the city of Bangalore. We give in our best efforts to deliver the most 
                quality-oriented services through the use of advanced devices such as lifters or elevators. Apart from this, we pack 
                your personal items in quality packaging materials like cartons, pallets, insert plates, paper tubes, and so on. We 
                cater to different shifting demands of our customers by offering them a wide variety of moving services such as 
                Professional Packing Service, Loading & Unloading Service, Warehousing & Storage Service, Relocation Service, Insurance 
                Service, and Escorts Service.

                Highspeedpackers {{city}} suffices to its customers' shifting needs by offering the most quality-oriented services at 
                economic rates. Quality is kept as the prime concern since we use strong quality packaging materials such as cartons, 
                plastic or gunny bags, thermocol, multi-wall bags, etc. All your goods are loaded and unloaded with the help of modern 
                equipment like hydraulic elevators, lifters, loading spouts, and so on.
            </p>
            
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end about section -->


  {% endblock %}