{% extends "base.html" %}
{% block start %}



 <!-- company section -->
 <div class=" layout_padding">
  <section class="company_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center h-100">
            <div class="company-detail">
              <h3>
                Company
              </h3>
              <p>
                Highspeedpackers Logistics operates in the bustling city of Bangalore, where we dedicate ourselves to providing 
                exceptional, quality-focused services. Utilizing advanced equipment like lifters and elevators, we ensure a smooth 
                and efficient moving experience. Our packing materials, including high-quality cartons, pallets, insert plates, and 
                paper tubes, safeguard your belongings during transit. We address diverse customer needs with a comprehensive range of 
                services, including Professional Packing Service, Loading & Unloading Service, Warehousing & Storage Service, 
                Relocation Service, Insurance Service, and Escorts Service.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="company_img-box">
            <img src="/static/images/company.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="d-flex  justify-content-end">
          <a href="/index/" class="quote-btn about-btn">
            <img src="/static/images/white-next.png" alt="">
            <span>
              Our Company Network
            </span>

          </a>
        </div>
      </div>
    </div>
    
  </section>
  
</div>

<!-- end company section -->




{% endblock %}