{% extends "base.html" %}
{% block start %}


    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="slider_item-container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="slider_item-detail">
                      <div class="slider_form-box">
                        <form action="">
                          <div class="search_input">
                            <input type="text">
                            <img src="/static/images/search-icon.png" alt="">
                          </div>

                          <button>
                            Search
                          </button>
                        </form>
                      </div>
                      <div>
                        <h1>
                          Unbeatable <br>
                          Packers & Transport <br>
                          Services
                        </h1>

                        <div class="d-flex">
                          <div>
                            <a href="/about/" class="read-btn">

                              <span>
                                Read More
                              </span>
                              <img src="/static/images/white-next.png" alt="">
                            </a>
                          </div>
                          <div class="ml-3">
                            <a href="/contact/" class="quote-btn">

                              <span>
                                Get A Quote
                              </span>
                              <img src="/static/images/white-next.png" alt="">
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      
                        <div class="contact_form-container">
                          <form action="">
                            <div>
                              <input type="text" placeholder="Your Name">
                            </div>
                            <div>
                              <input type="email" placeholder="Your Email">
                            </div>
                            <div>
                              <input type="text" placeholder="Your Phone">
                            </div>
                            <div>
                              <input type="text" placeholder="From">
                            </div>
                            <div>
                              <input type="text" placeholder="To">
                            </div>
              
                            <div>
                              <input type="text" class="message_input" placeholder="Message">
                            </div>
                            <div class="d-flex justify-content-end">
                              <button type="submit " class="">
                                Send
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="slider_item-container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="slider_item-detail">
                      <div class="slider_form-box">
                        <form action="">
                          <div class="search_input">
                            <input type="text">
                            <img src="/static/images/search-icon.png" alt="">
                          </div>

                          <button>
                            Search
                          </button>
                        </form>
                      </div>
                      <div>
                        <h1>
                          Unbeatable <br>
                          Packers & Transport <br>
                          Services
                        </h1>

                        <div class="d-flex">
                          <div>
                            <a href="" class="read-btn">

                              <span>
                                Read More
                              </span>
                              <img src="/static/images/white-next.png" alt="">
                            </a>
                          </div>
                          <div class="ml-3">
                            <a href="" class="quote-btn">

                              <span>
                                Get A Quote
                              </span>
                              <img src="/static/images/white-next.png" alt="">
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="slider_img-box">
                      <div class="contact_form-container">
                        <form action="">
                          <div>
                            <input type="text" placeholder="Your Name">
                          </div>
                          <div>
                            <input type="email" placeholder="Your Email">
                          </div>
                          <div>
                            <input type="text" placeholder="Your Phone">
                          </div>
                          <div>
                            <input type="text" placeholder="From">
                          </div>
                          <div>
                            <input type="text" placeholder="To">
                          </div>
            
                          <div>
                            <input type="text" class="message_input" placeholder="Message">
                          </div>
                          
                          <div class="d-flex justify-content-end">
                            <button type="submit " class="">
                              Send
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </section>

    <!-- end slider section -->
  </div>

  <!-- about section -->
  <section class="about_section ">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="heading_style">
            About Us
          </h2>
          <p>
            At Highspeedpackers, situated in Bengaluru,Karnataka, provides a wide range of packing, moving services 
            for relocation experience.
          </p>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-box">

            <img src="/static/images/a-truck.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 about_detail-container">
          <div class="about_detail-box">
            <h3>
              Company and Transport
            </h3>
            <p>
              We are committed to offering top-quality packing and moving services with precise quotes for your relocation needs. 
              Our dedicated team ensures reliable and high-quality moving services, whether you're relocating within Bangalore or 
              to another city in India, making us one of the most trusted and recommended names for packing and moving services at 
              a reasonable price.
            </p>
            
            <div class="d-flex  justify-content-end">
              <a href="/about/" class="quote-btn about-btn">
                <img src="/static/images/white-next.png" alt="">
                <span>
                  About More
                </span>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- end about section -->
   <br>
   <br>
  <!-- start small section -->
  <section class="company_section layout_padding2">
    <div class="container">
      <div class="d-flex justify-content-center">


        <h2>
          At HighSpeedPackers, we're dedicated to offering the best value in the moving industry. Our commitment is to 
          provide top-tier service at prices that align with your budget.

        </h2>
        
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <h3>24*7 Customer Care Support No:  +91- 8440989001, Mail Us :  info@highspeedpackers.com</h3>
      </div>
          
      </div>
    </div>
  </section>
  <!-- end small section -->
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          Our Services
        </h2>
      </div>
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift1.jpg" alt="">
            <div class="d-flex">
              <h3>
                Car Transportation

              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              We offer safe and reliable car transportation services, ensuring your vehicle reaches its destination securely and 
              on time, all at an affordable price.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift2.jpg" alt="">
            <div class="d-flex">
              <h3>
                Packing & Unpacking


              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              We at Highspeedpackers know that secure packing and unpacking are key to a successful relocation, which is 
              why we handle your belongings with care and expertise.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/whouse.jpg" alt="">
            <div class="d-flex">
              <h3>
                Warehouse
              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              Our storage solutions offer a safe and well-maintained facility for your goods, whether you need it for a brief 
              period or extended duration, all at competitive prices.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift3.jpg" alt="">
            <div class="d-flex">
              <h3>
                House shifting

              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              Moving is the start of a new chapter. Let us help you begin your story with a smooth transition, turning the 
              stress of house shifting into a seamless journey home.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift6.jpg" alt="">
            <div class="d-flex">
              <h3>
                Office shifting

              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              Let us take the stress out of office shifting with our professional services, ensuring everything from desks to 
              computers is moved safely and securely.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/shift5.jpg" alt="">
            <div class="d-flex">
              <h3>
                Bike Transportation
              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              We offer secure and efficient bike transportation services, ensuring your motorcycle reaches its destination 
              safely and in perfect condition.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
      </div>
       
      </div>
    </div>
  </section>
  <!-- end service section -->


  <!-- shop section -->
  <section class="shop_section">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          Why Choose Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center h-100">
            <div class="shop-detail">
              <h5>
                Everything You Need
              </h5>
              <p>
                With an extensive network of service centers across every state, HighSpeedPackers – Delhi ensures streamlined 
                service delivery. From South India to North India and West India to East India, we have established our presence. 
                We use international-grade packing materials and techniques to guarantee the protection and safety of your belongings, 
                supported by our skilled workforce.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="shop_img-box">
            <img src="/static/images/box1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end shop section -->

  <!-- testimonial section -->
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="heading_style">
        What Our Clients Say About Us
      </h2>
    </div>
    <div id="carouselExampleIndicator" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicator" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicator" data-slide-to="1"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="client_box c-b-1">
                  
                  <div class="client_detail">
                    <h5>
                      Mahesh Shetty
                    </h5>
                    <p>
                      The team at HighSpeedPackers was fantastic! They handled our office move with such professionalism and 
                      efficiency. Everything arrived on time and in perfect condition. Highly recommended!
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="client_box c-b-2">
                  
                  <div class="client_detail">
                    <h5>
                      Aarti M.
                    </h5>
                    <p>
                      I was thoroughly impressed with HighSpeedPackers. From packing to delivery, every step was handled with care and precision. 
                      They made our move much less stressful. Great job!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="client_box c-b-1">
                  
                  <div class="client_detail">
                    <h5>
                      Nisha Nathani
                    </h5>
                    <p>
                      Excellent service from start to finish. HighSpeedPackers managed our interstate move smoothly and efficiently. 
                      The team was courteous and professional throughout the process. Would definitely use their services again.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="client_box c-b-2">
                  
                  <div class="client_detail">
                    <h5>
                      Pradeep K.Kumar
                    </h5>
                    <p>
                      I can’t say enough good things about HighSpeedPackers. They took the stress out of moving with their efficient and 
                      reliable service. My belongings were well cared for and arrived without any issues.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      
      </div>

    </div>

  </section>
  <!-- end testimonial section -->
  <style>
    .btn-light-blue {
        background-color: #87afebfc;
        border-color: #87b9eb; 
        color: #ffffff;
        font-size: 1.25rem; /* large button text */
        padding: 10px 20px; /* padding for the button */
        border-radius: 5px; /* rounded corners */
        text-align: center;
        text-decoration: none; /* remove underline from text */
        display: inline-block; /* make sure it behaves like a button */
        cursor: pointer; /* change cursor on hover */
        transition: background-color 0.3s ease, transform 0.3s ease; /* smooth transitions */
    }
  
    .btn-light-blue:hover {
        background-color: #ADD8E6; /* lighter blue on hover */
        border-color: #ADD8E6; /* change border on hover */
        transform: scale(1.05); /* slight scale-up effect on hover */
    }
  </style>
  
  <!-- Network section -->
  <section class="client_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="heading_style">
        Our Network All Over India
      </h2>
    </div>
      <div class="row">
        <div class="d-flex justify-content-center"></div>
          <div class="col-sm-4">
            <a href="/anantpur/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Anantapur</button>
            </a>
            
          </div>
          <br>
          <br>
          <br>
          
          <div class="col-sm-4">
            <a href="/delhi/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Delhi</button>
            </a>
            
          </div>
          <div class="col-sm-4">
            <a href="/noida/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Noida</button>
            </a>
          </div>
        
          <div class="col-sm-4">
            <a href="/ahmedabad/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Ahmedabad</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/delhincr/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Delhi NCR</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/patna/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Patna</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/agra/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Agra</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/hyderabad/">
              <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Hyderabad</button>
            </a>  
          </div>
          <div class="col-sm-4">
            <a href="pune/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Pune</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/asansol/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Asansol</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/haridwar/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Haridwar</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/portbailr/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Port-Bailr</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/amritsar/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Amritsar</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/harazibagh/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Hazaribagh</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/panchkula/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Panchkula</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/aurangabad/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Aurangabad</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/haldwani/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Haldwani</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/pondicherry/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Pondicherry</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/ambala/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Ambala Mandi</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/indore/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Indore</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/pathankot/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Pathankot</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/ballari/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Ballari</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/jodhpur/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Jodhpur</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/patiala/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Patiala</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/bangalore/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Bangalore</button>
            </a>
          </div>
          <br>
          <br>
          <br>
          <div class="col-sm-4">
            <a href="/jammu/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Jammu</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/pithorgarh/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Pithoragarh</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/gwalior/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Gwalior</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/jaipur/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Jaipur</button>
            </a>
          </div>
          <div class="col-sm-4">
            <a href="/pannagarh/">
            <button class="btn btn-light-blue btn-lg btn-block">Moving Service in Pannagarh</button>
            </a>
          </div>
        </div>
      </div>
  
    
  </section>
  <!-- end Network section -->


  


  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="d-flex justify-content-center">
      <h2 class="heading_style">
        Contact us
      </h2>
    </div>
    <div class="container layout_padding2-top">
      <div class="row">
        <div class="col-md-6">
          <div id="map" class="h-100 w-100"></div>
        </div>

        <div class="col-md-6">
          <div class="contact_form-container">
            <form action="">
              <div>
                <input type="text" placeholder="Your Name">
              </div>
              <div>
                <input type="email" placeholder="Your Email">
              </div>
              <div>
                <input type="text" placeholder="Your Phone">
              </div>
              <div>
                <input type="text" placeholder="From">
              </div>
              <div>
                <input type="text" placeholder="To">
              </div>

              <div>
                <input type="text" class="message_input" placeholder="Message">
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit " class="">
                  Send
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->



  

  {% endblock %}