{% extends "base.html" %}
{% block start %}

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          Our Services
        </h2>
      </div>
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift1.jpg" alt="">
            <div class="d-flex">
              <h3>
                Car Transportation

              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              We offer safe and reliable car transportation services, ensuring your vehicle reaches its destination securely and 
              on time, all at an affordable price.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift2.jpg" alt="">
            <div class="d-flex">
              <h3>
                Packing & Unpacking


              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              We at Highspeedpackers know that secure packing and unpacking are key to a successful relocation, which is 
              why we handle your belongings with care and expertise.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/whouse.jpg" alt="">
            <div class="d-flex">
              <h3>
                Warehouse
              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              Our storage solutions offer a safe and well-maintained facility for your goods, whether you need it for a brief 
              period or extended duration, all at competitive prices.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
      </div>
      
       
      </div>
    </div>
  </section>
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          Fast And Secure
        </h2>
      </div>
      <div class="row layout_padding2-top">
        
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift3.jpg" alt="">
            <div class="d-flex">
              <h3>
                House shifting

              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              Moving is the start of a new chapter. Let us help you begin your story with a smooth transition, turning the 
              stress of house shifting into a seamless journey home.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift6.jpg" alt="">
            <div class="d-flex">
              <h3>
                Office shifting

              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              Let us take the stress out of office shifting with our professional services, ensuring everything from desks to 
              computers is moved safely and securely.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/shift5.jpg" alt="">
            <div class="d-flex">
              <h3>
                Bike Transportation
              </h3>
            </div>
          </div>
          <div class="service-detail">
            <p>
              We offer secure and efficient bike transportation services, ensuring your motorcycle reaches its destination 
              safely and in perfect condition.
            </p>
            <div class="d-flex justify-content-end">
              <a href="" class="service-btn">
                See More
              </a>
            </div>
          </div>
        </div>
      </div>
       
      </div>
    </div>
  </section>
  <!-- end service section -->
  <!-- end service section -->



  {% endblock %}