{% extends "base.html" %}
{% block start %}




  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          Our Gallery
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex align-items-center h-100">
            <div class="shop-detail">
              <h5>
                Everything You Need
              </h5>
              <p>
                At HighSpeedPackers, we believe that a picture is worth a thousand words. Our gallery is a testament to our dedication 
                and attention to detail in every move we handle. From carefully packing delicate items to securely loading and transporting 
                heavy furniture, our team demonstrates professionalism and precision in every aspect of our service.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="shop_img-box">
            <img src="/static/images/gift2.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end shop section -->


   <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="d-flex justify-content-center">
        <h2 class="heading_style">
          Fast And Secure Service
        </h2>
      </div>
      <div class="row layout_padding2-top">
        
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift3.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift6.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/shift5.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
      </div>
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift1.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift2.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/whouse.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
      </div>
      <div class="row layout_padding2-top">
        <div class="col-md-4">
          <div class="service_img-box s-b-1">
            <img src="/static/images/shift7.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-2">
            <img src="/static/images/shift8.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="service_img-box s-b-3">
            <img src="/static/images/shift9.jpg" alt="">
            <div class="d-flex">
              
            </div>
          </div>
          
        </div>
      </div>
       
      </div>
    </div>
  </section>
  
  <!-- end service section -->



{% endblock %}